.app-container{
    margin: 30px auto 0;
    max-width: 800px;
    padding: 1px 15px 40px;
    background: #fff;
}
.search-container > form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search-box input{
    height: 30px;
    padding: 5px 10px;
    margin-right: 20px;
    font-size: 16px;
}
label{
    margin-left: 10px;
    margin-right: 10px
}
input[type="radio"] {
    margin-right: 7px;
}

.movie-box {
    padding: 10px;
    margin: 10px 0px 30px;
    border: 1px solid #ccc;
}
.movie-box h3{
    margin-top: 0;
}

@media all and (max-width : 640px){
    .search-container > form{
        flex-flow: column;
        align-items: flex-start;
    }
    .sortBox{
        margin-top: 20px;
    }
}